* {
  box-sizing: border-box;}

  input:focus, textarea:focus {
    outline: 0;
      background-color: #FFFF66;
      border: 1px solid darkblue;
  }
.wrapper{
  margin: 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  }

header {
  border-bottom: 5px solid black;
  border-bottom-style: ridge;
  margin: auto;
  text-align: center;
}

.top {
  background-color: #2d3945;
  padding: 5px;
  text-align: center;
  color:white;
  padding: 15px;
}

.main{
  padding-top: 20px;
  border-top: 1px solid black
}

.heading {
  text-align: center;
  margin-bottom: 2px;

}


.first{
  border-spacing: 10px;
  margin-top: 0px;
  padding-top: 0px;
  border-bottom: 2px solid black;
  width:100%;
}


  fieldset {
    margin-bottom: 20px;
    border: none;
    width: 100%;
  }

label {
  padding-bottom: 10px;
}

footer{
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #2d3945;
}

button {
  padding: 19px 39px 18px 39px;
  color: white;
  background-color: #2d3945;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  border-radius: 3px;
  width: 100%;
  margin: 0;
}

.format{
  display:inline-block;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

#name,
#mail,
#phone,
#address,
#city,
#state,
#zip,
#topics,
select {
  text-align: right;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  display: block;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
  opacity: 0.5;
}

#state {
  padding: 20px;
  height: 50px;
  border-radius: 20px;
}

#phone:hover,
#address:hover,
#city:hover,
#state:hover,
#zip:hover,
#name:hover,
#mail:hover {
 opacity: 1.0;
}

button {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

button:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition: background-color 2s;
    cursor: pointer;
}

.first {
  width: 100%;
}

/* Media Queries*/

@media (min-width: 769px) {

  .main{
    width: 50%;
    margin: auto;
}
header{
   margin: auto;
   text-align: center;
   width: 50%;
 }

 .primary{
    width: 30%;
    display:inline-block;
 }

 #name,
 #mail,
 #phone,
 #address,
 #city,
 #state,
 #zip,
 select {
   text-align: right;
   font-size: 16px;
   height: auto;
   margin: 0;
   outline: 0;
   padding: 15px;
   width: 69%;
   display:inline-block;
   background-color: #e8eeef;
   color: #8a97a0;
   margin-bottom: 30px;
   opacity: 0.5;
 }


.second{
  margin-top: 10px;
}
 fieldset {
   padding: 0px;
   margin:0px;
 }
button{
  margin-bottom: 10px;
}
}
